<!DOCTYPE html>
<html class="home" lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacina para Demostração de Imagnes</title>
</head>
<body>
    <h1>
        Bem vindo ao mundo Docker
    </h1>
    <div class="image">
        <img src="static\img\docker.png"  />
    </div>
</body>
</html>